node_modules

# Python
backend/venv/
.venv/
venv/
__pycache__/
*.pyc

# IDE
.vscode/

# Environment variables
.env*
!.env.example

# Databases
backend/db.sqlite3
backend/data/historical/
backend/data/models/

# Logs
*.log
!.env.example

# OS generated
.DS_Store
Thumbs.db
.DS_Store?

frontend/src/assets/brands/demo2.mp4
